body {
    padding-top: 56px; 
}

#hero-carousel .carousel-item {
    height: 85vh; 
    min-height: 300px;
}

#hero-carousel .carousel-item img {
    height: 100%;
    object-fit: cover; 
}

.card-footer {
    background-color: transparent;
    border-top: none;
}